*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: amatic-sc;
    src: url("fonts/AmaticSC-Regular.ttf");
}
html{
    box-sizing: border-box;
    /* background: #ffc600; */
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
.panels{
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.panel{
    background: #680f9c;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: #fff;
    text-align: center;
    align-items: center;
    transition: 
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: flex 0.6s ease-in-out;
}
.panel1{
    background-image: url("images/sky-nit-HD-wallpaper-beach-moon-blue-sky.jpg");
}
.panel2{
    background-image: url("images/environment-earth-day-in-natural-green-leaves-and-plants-used-as-spring-background-cover-page-greenery-environment-ecology-wallpaper-concept-eco-earth-day-saving-the-environment-generate-ai-free-photo.jpg");
}
.panel3{
    background-image: url("images/mount-peaks-triumph-successful-man-hiker-savors-view-conquering-both-mountain-and-journey-vertical-mobile-wallpaper-ai-generated-free-photo.jpg");
}
.panel4{
    background-image: url("images/fox-new-f6bd22e3e435b584f74c0745e3eabdfd.jpg");
}
.panel5{
    background-image: url("images/sunset-sky-cloud-nature-red-flare-sky-aesthetic-sunset-sky-sunset-sunset-sky-phone.jpg");
}
.panel > *{
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel > *:first-child{
    transform: translateY(-100%);
}
.panel.active >*:first-child{
    transform: translateY(0);
}
.panel > *:last-child{
    transform: translateY(100%);
}
.panel.active >*:last-child{
    transform: translateY(0);
}
.panel.active{
    flex: 3;
    font-size: 30px;
}
.panel p{
    font-family: 'amatic-sc';
    text-shadow: 0 0 4px rgba(0,0,0,0.8), 0 0 14px rgba(0,0,0,0.8);
    font-size: 2em;
}
.panel p:nth-child(2){
    font-size: 4em;
} 